<div id="index-container">
  <div id="index-title-wrapper">
    <div id="index-movies-title">
      <h1>{{title}}</h1>
      <a href="/movies"><button id="index-movies-button">Check the movies</button></a>
    </div>
  </div>
</div>